@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This website is aiming to help those who want to learn swimming or want to promote their swimming skills. The website will update all available swimming classes and events held by our company, and it supports users to manage their portfolio and timetable, look up some exciting events and book suitable learning sessions. Additionally, it will also provide some access to the qualifying examination of swimming.</h3>

