@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jiancong(Jacky) Lei<br />
    Rayal Parade, Caulfield South<br />
    <abbr title="Phone">P:</abbr>
    0431888578
</address>

<address>
    <strong>Support:</strong>   <a href="jlei0006@student.monash.edu">jlei0006@student.monash.edu</a>
</address>