body {
}

.Row {
    display: table;
}

.Column {
    display: table-cell;
    position: relative;
    height: auto;
}
.image {
    display:block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.Column:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    font-size:30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.text-caption {
    text-align: center;
    font-size: 18px;
    width: 100%;
}

