
@{
    ViewBag.Title = "DatePicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DatePicker</h2>

<html>
<head>
    <script src="~/Scripts/bootstrap.js" defer></script>
    <script src="~/Scripts/bootstrapSelector.js" defer></script>
</head>
<body>
    <input data-provide="datepicker">
    <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <
</body>>
</html>