@model IEnumerable<Assignment.Models.Activity>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<h2>Course</h2>
<br />
<br />

<div class="col-lg-2">
    <label>Select Date</label>
    <div><input data-provide="datepicker" id="datepicker"></div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@Html.Partial("_ActivityPartial")
@section Scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            var today = new Date()

            var dataTable = $('#dtable').DataTable();

            $('#datepicker').datepicker({
                defaultViewDate: today,
                format: "dd/mm/yyyy",
                startDate: today
            })

            $('#datepicker').on('keyup click change', function () {
                var v = $(this).val();
                dataTable.search(v).draw();
            });
            //$('#datepicker').datepicker('show');
        });
    </script>
}