@model IEnumerable<Assignment.Models.Activity>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<h2>Course</h2>
<br />
<br />

<div class="col-lg-2">
    <label>Select Date</label>
    <div><input data-provide="datepicker" id="datepicker"></div>
</div>
<br />
<br />
<br />
@*
    1. This page demonstrate search in Datatable with Datepicker
    2. The java script follow bootstrap datepick and jquery dataTable
*@

@Html.Partial("_ActivityPartial")

@section Scripts {
    @Scripts.Render("~/Scripts/DatepickAndTable")
}